/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
  }
  
  .header {
    flex: 1;
    padding: 20px;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    font-size: 14px; /* Adjust font size as needed */

  }
  
  .section {
    margin-bottom: 30px;
  }
  
  .sidebar {
    flex: 1;
    padding: 20px;
  }
  
  .links {
    margin-bottom: 20px;
  }
  
  .info-box {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  .skills-list {
    border: 5px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px; /* Adjust font size as needed */

  }